<div class="root">
    <h1>CONTACT</h1>
    <div class="container">
        <div class="kaart">
            @* <iframe width="425" height="425" src="https://www.openstreetmap.org/export/embed.html?bbox=3.6980152130126958%2C51.029391477010115%2C3.707799911499024%2C51.034215757963565&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=17/51.03180/3.70291">Grotere kaart weergeven</a></small> *@
            <iframe width="425" height="350" src="https://www.openstreetmap.org/export/embed.html?bbox=3.7793424725532536%2C51.07506199799793%2C3.781788647174835%2C51.076270296835865&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=19/51.07567/3.78057">Grotere kaart weergeven</a></small>
        </div>
        <div id="rhs">
            <form>
                <input type="email" placeholder="e-mailadres" id="email" />
                <textarea placeholder="Typ hier uw vraag" id="vraag" />
                <button>VERSTUUR</button>
            </form>
            <div class="contactInfo">
                <div class="gegevens">
                    <h2>Gegevens</h2>
                    <p>Vision Oogcentrum</p>
                    <p>Antwerpsesteenweg 1022</p>
                    <p>9040 Gent</p>
                    <a href="mailto:ozlemkose@hotmail.com">ozlemkose@hotmail.com</a>
                    <p>+32 456 12 34 56</p>
                </div>
                <div class="dringend">
                    <h2>Voor dringende gevallen</h2>
                    <p>Contacteer Sint Lucas ziekenhuis:</p>
                    <a href="https://www.azstlucas.be">https://www.azstlucas.be</a>
                    <p>+32 478 90 12 34</p>
                </div>
            </div>
        </div>
    </div>
</div>
