<div class="root">
    <h1>EEN AFSPRAAK MAKEN</h1>
    <div class="buttons">
        <a href="/afspraak-maken" class="afspraakMaken">AFSPRAAK MAKEN</a>
        <a href="/afspraken">AFSPRAAK BEKIJKEN / WIJZIGEN</a>
    </div>
</div>
