.root {
    --primary: #1DB6C0;
    --secondary: #E2F2F3;
    --background: #FCFDFD;
    --accent: #8B8C4F;
    --text: #122021;
}

#home {
    width: 100%;
    height: calc(100vh - 4rem);
    padding: 0;
    overflow: clip;
}

img {
    width: 100%;
    filter: grayscale(1);
    z-index: 1
}

#chat {
    width: 3rem;
    aspect-ratio: 1/1;
    border-radius: 3rem;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    background-color: var(--primary);
    color: var(--background);
    z-index: 2;
}