<div class="root" id="aandoeningen">
    <h1>OOGAANDOENINGEN</h1>
    <div class="aandoeningen">
        <p class="gridItem">Cataract</p>
        <p class="gridItem">Oogzwel</p>
        <p class="gridItem">Glaucoom</p>
        <p class="gridItem">Oogtrombose</p>
        <p class="gridItem">Lui oog</p>
        <p class="gridItem">Netvliesbeschadiging</p>
        <p class="gridItem">Oogspierverlamming</p>
        <p class="gridItem">Uveïtis</p>
    </div>
    <div class="btn">
        <a href="#" class="button">ALLE AANDOENINGEN</a>
    </div>
</div>